@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    position: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.logo_one button {
    padding: 10px 20px;
    border: 1px solid #43AAFF;
    border-radius: 100px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    color: #4B5258;

}

.logo_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-brands {
    font-size: 30px;
}

.fa-whatsapp {
    margin-left: 10px;
}

.logo_one h2 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #43AAFF;
}

.logo_one p {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    color: #959A9D;
}

.logo_one h3 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #4B5258;
    margin-left: 15px;
}

.logo_one h4 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #959A9D;
}

.logo_one span {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: right;
    color: #4B5258;
}

.circle {
    display: flex;
    align-items: center;
}

.circle h4 {
    margin-left: 10px;
}

.same button {
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
}

.same h2 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    color: #4B5258;
}

.same span {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #4B5258;
}

.same p {
    margin-top: 30px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #4B5258;
}

.street {
    background: #43AAFF;
    box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.long {
    background: #FFC24D;
    box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
}


header{
    margin-top: 100px;
    display: flex;
}
.length{
    display: flex;
}
.iconss{
    display: none !important;
    margin-left: 300px;
    margin-top: -180px;
}


@media (max-width:575px) {
    .nav-text{
        display: none;
    }
    .logo_one{
        display: grid;
    }
    .length{
        display: grid;
    }
    .girls{
        width: 100%;
    }
    .same h2{
        text-align: center;
        font-size: 18px;
        margin-left: 30px;
    }
    .same p{
        margin-left: 30px;
        font-size: 14px;
        text-align: center;
    }
    .street{
        margin-left: 70px;
    }
    .long{
        margin-left: 90px;
    }
    .logo_one h2{
        text-align: center;
        margin-left: 120px;
        margin-top: 20px;
    }
    .logo_one p{
        margin-top: 10px;
        margin-left: 120px;
        text-align: center;
    }
    .logo_one h3{
        margin-top: 20px;
        margin-left: 120px;
        text-align: center;
    }
    .logo_one h4{
        margin-left: 0px;
    }
    .logo_one img{
        margin-left: 180px;
    }
    .logo_one span{
        padding-top: 100px;
        margin-left: 150px;
    }
    .fa-telegram{
        margin-left: 170px;
    }
    .logo_one button{
        margin-top: 20px;
        margin-left: 120px;
    }
    .girls{
        margin-top: 100px;
    }
    .circle{
        display: none;
    }
    .fa-brands{
        margin-top: 20px;
    }
    .iconss{
        display: block !important;
    }
}





/* Boburs css/////////////////////////// */







  @font-face {
    font-family: pop;
    src: url(./fonts/Poppins-Medium.ttf);
  }
  .btnZnali {
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    background: #ffc24d;
    border-radius: 30px;
    padding: 11px 48px;
    border: none;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .fact {
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-bottom: 70px;
    color: #959a9d;
  }
  .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: pop;
    padding: 50px;
  }
  .main .heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    position: relative;
  }
  .main span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .containerFactCard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .containerFactCard .card {
    width: 230px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    margin: 15px;
  }
  .card::after {
    content: " ";
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(30, 83, 196);
  }
  .card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fit;
    transition: 0.6s;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
    z-index: 99;
  }
  .card:hover img {
    transform: scale(0.5) translateY(-120px);
    border-radius: 10px;
  }
  .card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
    transform: translateY(100%);
    transition: 0.6s;
  }
  .card:hover .details {
    transform: translateY(0);
  }
  .details h3 {
    font-size: 22px;
    color: rgb(0, 81, 255);
  }
  .details p {
    font-size: 15px;
    color: #333;
    margin-bottom: 7px;
  }
  .details .social-links {
    display: flex;
  }
  .details .social-links a {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    color: #333;
    background-color: rgb(182, 182, 182);
    text-decoration: none;
    transition: 0.6s;
    display: grid;
    place-items: center;
    font-size: 17px;
  }
  .details .social-links a:hover {
    transform: rotate(360deg);
    background-color: rgb(0, 81, 255);
    color: #fff;
  }
  
  /* /////////////////////// */
  .flexingdiv h1 {
    font-size: 5.25vmin;
    text-align: center;
    color: white;
  }
  .flexingdiv p {
    font-size: max(10pt, 2.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
  }
  
  .wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vmin;
    border-radius: 20px;
    height: 20em;
    border: 8px solid;
    border-image: linear-gradient(
        -50deg,
        rgb(0, 117, 128),
        #200aaa,
        rgb(116, 204, 239),
        green,
        rgb(130, 185, 194),
        #30bfd8,
        rgb(15, 23, 140)
      )
      1;
    margin: 2rem auto;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    background: #1411b8;
    transition: 0.4s ease-in-out;
    z-index: 1;
  }
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: 0.5rem 0 0 0.5rem;
    border: 3px solid;
    border-image: linear-gradient(
        to bottom,
        #24aea9 5%,
        rgb(36, 34, 139) 35% 65%,
        #73eeea 95%
      )
      0 0 0 100%;
    transition: 0.3s ease-in-out 0.2s;
    z-index: 1;
  }
  .image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("https://avatars.mds.yandex.net/i?id=f1fdf4d10720b6278f10bdb6a4e4409885ca17a5-8309375-images-thumbs&n=13");
    background-size: cover;
    transition: 0.3s ease-in-out;
    /* border: 1px solid green; */
  }
  
  .dots {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: 0.3s ease-in-out 0.3s;
  }
  .dot {
    width: 14px;
    height: 14px;
    background: rgb(38, 255, 0);
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out 0.3s;
  }
  
  .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    overflow-y: scroll;
  }
  
  .wrap:hover .overlay {
    transform: translateX(-60vmin);
  }
  .wrap:hover .image-content {
    width: 30vmin;
  }
  .wrap:hover .overlay-content {
    border: none;
    transition-delay: 0.2s;
    transform: translateX(60vmin);
  }
  .wrap:hover .dots {
    transform: translateX(1rem);
  }
  .wrap:hover .dots .dot {
    background: white;
  }
  
  /* Animations and timing delays */
  .animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
  }
  /* Pop In */
  .pop {
    animation-name: pop;
  }
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  
  /* Slide In */
  .slide {
    animation-name: slide;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translate(4em, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  /* Slide Left */
  .slide-left {
    animation-name: slide-left;
  }
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translate(-40px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .slide-up {
    animation-name: slide-up;
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .delay-1 {
    animation-delay: 0.3s;
  }
  .delay-2 {
    animation-delay: 0.6s;
  }
  .delay-3 {
    animation-delay: 0.9s;
  }
  .delay-4 {
    animation-delay: 1.2s;
  }
  .delay-5 {
    animation-delay: 1.5s;
  }
  .delay-6 {
    animation-delay: 1.8s;
  }
  .delay-7 {
    animation-delay: 2.1s;
  }
  .delay-8 {
    animation-delay: 2.4s;
  }
  .bigBlueCard {
    width: 358px;
    height: 100px;
    background: #43aaff;
    border-radius: 30px;
  }
  .friend {
    font-family: "Mont";
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    color: #ffffff;
  }
  .yellowBigButton {
    margin-top: 15px;
    font-family: "Mont";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 15px 55px;
    background: #ffc24d;
    border-radius: 100px;
    border: none;
  }
  